<style>
      #head{
          color: orange;
          font-size: 65px;
      }
      body{
      background-color: rgb(240,230,140);}
      Li{
          background-color:rosybrown;
      }
      .Green 
      {
       background-color: green;
      }

    </style>