<style>
        h1{
            font-family: sans-serif;
            background-color:brown;
           
        }
        body
        {
        font-size: 16px;
        text-align:center;
        background-color: blue;
        }
        .style{
            font-weight:600px;
            color: black; 
            font-size:3em;
        }
        li{
            line-height:40px;
            background-color: aquamarine;
        }
    </style>